<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
    <meta charset="UTF-8">
</head>
<body>
    <input type="search" ng-model="busca">
    <div ng-controller="CtrlApp">
        total <b>{{pessoas.length}}</b>
        <ul>
            <li ng-repeat="pessoa in pessoas | filter:busca">
                {{pessoa.nome}}, {{pessoa.cidade}}
                <button ng-click="remover($index)">Remover</button>
            </li>
        </ul>
        <div>

            Nome:<input type="text" ng-model="vName">
            <br>
            Cidade:<input type="text" ng-model="vCidade">
            <button ng-click="adicionar()">Adicionar</button>

        </div>

    </div>



</body>
<script>

    var myApp = angular.module('app', []);

    var CtrlApp = function($scope){
        $scope.pessoas = [
            {nome:'jayson',cidade: 'goiania'},
            {nome:'Issis',cidade: 'sao'},
            {nome:'Cida',cidade: 'teresina'},
            {nome:'Jose',cidade: 'acreuna'}
        ];

        $scope.adicionar = function(){
            $scope.pessoas.push({
                nome: $scope.vName,
                cidade: $scope.vCidade
            });
            $scope.vName = "";
            $scope.vCidade = "";
        }

        $scope.remover = function(index){
            $scope.pessoas.splice(index,1);
        }
    }
    myApp.controller('CtrlApp', CtrlApp);
</script>
</html>